@CHARSET "ISO-8859-1";
/*
File: mobile_style.css
Author: Jake Marshall
Site: Jake's Portfolio Mobile
Description: Style sheet for overiding CDN/theme sheets
*/

/*Set page defaults*/
body {
	font-family: 'Sintony', serif;
}

/*makes background white for logo display, without affecting list header*/
.ui-header {
	background: white;
}

#mobileLogo {
	width: 150px;
	display: block;
	margin: 0 auto;
}
/*resizes featured/services buttons*/
.imageButton {
	width: 49%;
}

/*styling for slideshow*/
#slideshow {
	width: 100%;
	margin: 0 auto;
}

#slideviewer {
	width: 75%;
}

/* centers full site link*/
#fullSite {
	text-align: center;
}

/*styling for about page, wraps text around image*/
#about {
	width: 100%;
}

#selfImage {
	float: left;
	margin: 5px;
}

/*styling for contact page, centres social media links*/
#socialMedia {
	text-align: center;
}

/*Styling for projects page*/
#projects {
	text-align: center;
}

.horizontalPhoneProject img {
	width: 100%;
}

.verticalPhoneProject img {
	height: 50%;
}

/*ceters services header*/
#services h1 {
	text-align: center;
}